{% extends "dashboard/base.html" %} {% block content %}

<div style= "background-image: url("static/images/bg2.webp");background-repeat: no-repeat;background-size: 100%;">
  <div class="container">
    <br />
    <br />
    <div style="text-align:center;"><h2>About Us</h2></div>
    <div class="container col-md-8 text-center " style="word-spacing: 5px;font-weight: 500;">
      <p>
        Welcome to CampusCorner, your one-stop destination for all things related to student success. Our platform is designed with the modern student in mind, offering a range of resources, tools, and support to help you excel in your academic journey.
      </p>
    </div>
    <br />
    <br />
  </div>
  <div class="container col-md-8 text-center " style="word-spacing: 5px;font-weight: 500;">
    <p>
      We are a team of passionate educators, tech enthusiasts, and lifelong learners who understand the challenges students face today. Our mission is to create a supportive, engaging, and comprehensive learning environment that empowers students to achieve their goals.
    </p>
    <br />
    <br />
    <p>
      At CampusCorner, our mission is simple: to make learning accessible, effective, and enjoyable. We believe that every student has the potential to succeed, and we are committed to providing the resources and support needed to unlock that potential.
    </p>
    <br />
    <br />
    <p>
      Whether you’re preparing for exams, working on assignments, or simply looking to expand your knowledge, CampusCorner is here to support you. Join our community of learners today and take the next step towards academic success.
    </p>
    <br />
  </div>
</div>

{% endblock %}
